<div
  class="widget">
  <h3 class="widget-title">个人链接</h3>
  <div class="widget-body ">
    <ul class="link-list">
      <li class="">
        <span>Blog: </span>
        <a href="http://yanue.net" target="_blank">http://yanue.net</a>
      </li>
      <li class="">
        <span>Map:</span>
        <a href="http://map.yanue.net" target="_blank">http://map.yanue.net</a>
      </li>
      <li class="">
        <span>Github:</span>
        <a href="https://github.com/yanue" target="_blank">https://github.com/yanue</a>
      </li>
    </ul>
  </div>
</div>
<div class="widget"><h3 class="widget-title">技能</h3>
  <div class="widget-body">
    <ul class="skill-list">
      <li class="clearfix">
        <span class="lang">Golang</span>
        <span class="right">★★★★☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">Python</span>
        <span class="right">★★★☆☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">PHP</span>
        <span class="right">★★★★☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">Javascript</span>
        <span class="right">★★★★☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">HTML+CSS</span>
        <span class="right">★★★★☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">Linux</span>
        <span class="right">★★★☆☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">Git</span>
        <span class="right">★★★★☆</span>
      </li>
      <li class="clearfix">
        <span class="lang">Swift</span>
        <span class="right">★★★☆☆</span>
      </li>
    </ul>
  </div>
</div>

<div class="widget">
  <h3 class="widget-title">个人标签</h3>
  <div class="widget-body">
    <span class="label">Go</span>
    <span class="label">Python</span>
    <span class="label">Linux</span>
    <span class="label">Web</span>
    <span class="label">JS</span>
    <span class="label">PHP</span>
  </div>
</div>

<div class="widget">
  <h3 class="widget-title">个人项目</h3>
  <div class="widget-body">
    <ul class="list-square">
      <li class="item">
        <a href="https://github.com/yanue/v2rayU" target="_blank">
          <span class="repo-and-owner">yanue/v2rayU</span>
        </a>
      </li>
      <li class="item">
        <a href="https://github.com/yanue/nginx-lua-GraphicsMagick" target="_blank">
          <span class="repo-and-owner">yanue/nginx-lua-GraphicsMagick</span>
        </a>
      </li>
      <li class="item">
        <a href="https://github.com/yanue/yanue.net" target="_blank">
          <span class="repo-and-owner">yanue/yanue.net</span>
        </a>
      </li>
    </ul>
  </div>
</div>
