<div class="wrap">
  <div style="height: 20px;"></div>
  <div class="widget">
    <h3 class="widget-title">公告</h3>
    <div class="widget-body">
      <p>新版博客上线了~</p>
      <p>
        基于: golang, gin, gorm, sqlite,
        <a href="https://nhn.github.io/tui.editor/latest/" target="_blank">tui.editor</a>
      </p>
      <p>源码: <a href="https://github.com/yanue/yanue.net" target="_blank">https://github.com/yanue/yanue.net</a></p>
    </div>
  </div>

  <div class="widget">
    <h3 class="widget-title">分类</h3>
    <div class="widget-body">
      <ul class="list-square">
          {{ range $key, $value := .side.cats }}
            <li>
              <a href="/cat/{{ $key }}">
                <span>{{ $key }}</span>
                <label class="num">({{ $value }})</label>
              </a>
            </li>
          {{ end }}
      </ul>
    </div>
  </div>


  <div class="widget">
    <h3 class="widget-title">归档</h3>
    <div class="widget-body">
      <ul class="list-square">
          {{ range  $item := .side.archives }}
            <li>
              <a href="/tag/{{ $item.Month }}">
                <span>{{ $item.Month }}</span>
                <label class="num">({{ $item.Count }})</label>
              </a>
            </li>
          {{ end }}
      </ul>
    </div>
  </div>


  <div class="widget">
    <h3 class="widget-title">标签</h3>
    <div class="widget-body">
      <ul class="list-square">
          {{ range $key, $value := .side.tags }}
            <li>
              <a href="/cat/{{ $key }}">
                <span>{{ $key }}</span>
                <label class="num">({{ $value }})</label>
              </a>
            </li>
          {{ end }}
      </ul>
    </div>
  </div>
</div>