<div style="background: rgba(240,210,150,0.1);border-top: 3px solid #e9e0d9;">
  <div class="box">
    <div style="line-height: 30px;padding: 8px 0;">
      <span class="right">
        粤ICP备14013310号
      </span>
      <span>Copyright © 2022 yanue.net</span>
    </div>
  </div>
</div>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?a37fc5942ae6900185918d0920950509";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>