<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.title}}</title>
  <meta name="author" content="yanue"/>
  <meta name="copyright" content="yanue.net"/>
  <meta name="keywords" content="{{.keywords}}"/>
  <meta name="description" content="{{.description}}"/>
  <link rel="stylesheet" href="/assets/css/base.css">
  <script src="/assets/js/iconfont.js"></script>
    {{template "head" .}}
</head>
<body>
<div class="main">
    {{include "layouts/side"}}
    {{template "content" .}}
</div>
{{template "foot" .}}
{{ .floatAd }}
{{ .statCode }}
<script>
  window.onerror = function (message, source, lineno, colno, error) {
    console.log('捕获到异常：', {message, source, lineno, colno, error});
  }
</script>
</body>
</html>