<sidebar class="sidebar snipcss-Z2mHY">
  <div class="slimContent">
    <div class="navbar-header">
      <div class="profile-block text-center">
        <a id="avatar" href="https://github.com/yanue" target="_blank" class="snip-a">
          <img class="img-circle img-rotate snip-img" src="https://blog.cofess.com/images/avatar.jpg" width="200"
               height="200">
        </a>
        <h2 id="name" class="hidden-xs hidden-sm snip-h2">
          yanue
        </h2>
        <h3 id="title" class="hidden-xs hidden-sm hidden-md snip-h3">
          Full Stack Developer
        </h3>
        <small id="location" class="text-muted hidden-xs hidden-sm">
          <i class="icon icon-map-marker">
          </i>
          Shenzhen, China
        </small>
      </div>
      <div class="search" id="search-form-wrap">
        <form class="search-form sidebar-form">
          <div class="input-group">
            <input type="text" class="search-form-input form-control" placeholder="搜索">
            <span class="input-group-btn">
              <button type="submit" class="search-form-submit btn btn-flat snip-button" onclick="return!1">
                <i class="icon icon-search">
                </i>
              </button>
            </span>
          </div>
        </form>
      </div>
      <button class="navbar-toggle collapsed snip-button" type="button" data-toggle="collapse"
              data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false">
        <span class="sr-only">
          Toggle navigation
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
      </button>
    </div>
    <nav id="main-navbar" class="collapse navbar-collapse snip-nav" itemscope=""
         itemtype="http://schema.org/SiteNavigationElement" role="navigation">
      <ul class="nav navbar-nav main-nav snip-ul">
        <li class="menu-item menu-item-home">
          <a href="/." class="snip-a">
            <i class="icon icon-home-fill">
            </i>
            <span class="menu-title">
              首页
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-archives">
          <a href="/archives" class="snip-a">
            <i class="icon icon-archives-fill">
            </i>
            <span class="menu-title">
              归档
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-categories">
          <a href="/categories" class="snip-a">
            <i class="icon icon-folder">
            </i>
            <span class="menu-title">
              分类
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-tags">
          <a href="/tags" class="snip-a">
            <i class="icon icon-tags">
            </i>
            <span class="menu-title">
              标签
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-repository">
          <a href="/repository" class="snip-a">
            <i class="icon icon-project">
            </i>
            <span class="menu-title">
              项目
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-books">
          <a href="/books" class="snip-a">
            <i class="icon icon-book-fill">
            </i>
            <span class="menu-title">
              书单
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-links">
          <a href="/links" class="snip-a">
            <i class="icon icon-friendship">
            </i>
            <span class="menu-title">
              友链
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-about">
          <a href="/about" class="snip-a">
            <i class="icon icon-cup-fill">
            </i>
            <span class="menu-title">
              关于
            </span>
          </a>
        </li>
      </ul>
      <ul class="social-links snip-ul">
        <li>
          <a href="https://github.com/cofess" target="_blank" title="" data-toggle="tooltip" data-placement="top"
             data-original-title="Github" class="snip-a">
            <i class="icon icon-github">
            </i>
          </a>
        </li>
        <li>
          <a href="http://weibo.com/cofess" target="_blank" title="" data-toggle="tooltip" data-placement="top"
             data-original-title="Weibo" class="snip-a">
            <i class="icon icon-weibo">
            </i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/iwebued" target="_blank" title="" data-toggle="tooltip" data-placement="top"
             data-original-title="Twitter" class="snip-a">
            <i class="icon icon-twitter">
            </i>
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/cofess" target="_blank" title="" data-toggle="tooltip" data-placement="top"
             data-original-title="Behance" class="snip-a">
            <i class="icon icon-behance">
            </i>
          </a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank" title="" data-toggle="tooltip" data-placement="top"
             data-original-title="Rss" class="snip-a">
            <i class="icon icon-rss">
            </i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</sidebar>
