<div class="sidebar">
  <div class="section">
    <div class="navbar-header">
      <div class="profile-block text-center">
        <div class="avatar">
          <img class="img-avatar img-rotate" src="/assets/img/avatar.png">
        </div>
        <div class="name">🌱叶子(Yanue)</div>
        <div class="title">Gopher & Web Developer</div>
        <div class="location">
          <i class="icon icon-map-marker">
          </i>
          Shenzhen China
        </div>
        <div class="map-link">
          <a href="https://map.yanue.net/" class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-04dingwei"></use>
            </svg>
            <span class="menu-title">
              地图作品
            </span>
          </a>
        </div>
      </div>
    </div>
    <div id="main-navbar">
      <ul class="menu ">
        <li class="menu-item {{if eq .activeNav "home"}}active{{end}}">
          <a href="/." class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-29shouye1"></use>
            </svg>
            <span class="menu-title">
              首页
            </span>
          </a>
        </li>
        <li class="menu-item {{if eq .activeNav "archives"}}active{{end}}">
          <a href="/archives" class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-22"></use>
            </svg>
            <span class="menu-title">
              归档
            </span>
          </a>
        </li>
        <li class="menu-item {{if eq .activeNav "categories"}}active{{end}}">
          <a href="/categories" class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-23"></use>
            </svg>
            <span class="menu-title">
              分类
            </span>
          </a>
        </li>
        <li class="menu-item {{if eq .activeNav "tags"}}active{{end}}">
          <a href="/tags" class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-07biaoqian"></use>
            </svg>
            <span class="menu-title">
              标签
            </span>
          </a>
        </li>
        <li class="menu-item {{if eq .activeNav "about"}}active{{end}}">
          <a href="/about" class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-26wode3"></use>
            </svg>
            <span class="menu-title">
              关于
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">© 🌱叶子博客(yanue.net)</div>
  </div>
</div>
