<div class="sidebar">
  <div class="section">
    <div class="navbar-header">
      <div class="profile-block text-center">
        <div class="avatar">
          <img class="img-avatar img-rotate" src="/assets/img/avatar.png">
        </div>
        <div class="name">🌱 Yanue's Site</div>
        <div class="title">Gopher & Web Developer</div>
        <div class="location">
          <i class="icon icon-map-marker">
          </i>
          Shenzhen, China
        </div>
        <div class="map-link">
          <a href="/map" class="link">
            <svg class="icon">
              <use xlink:href="#icon-a-31shouye3"></use>
            </svg>
            <span class="menu-title">
              地图作品
            </span>
          </a>
        </div>
      </div>
    </div>
    <div id="main-navbar">
      <ul class="menu ">
        <li class="menu-item menu-item-home">
          <a href="/." class="link">
            <i class="icon icon-home-fill">
            </i>
            <span class="menu-title">
              首页
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/archives" class="link">
            <i class="icon icon-archives-fill">
            </i>
            <span class="menu-title">
              归档
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/cat" class="link">
            <i class="icon icon-folder">
            </i>
            <span class="menu-title">
              分类
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/tags" class="link">
            <i class="icon icon-tags">
            </i>
            <span class="menu-title">
              标签
            </span>
          </a>
        </li>
        <li class="menu-item menu-item-about">
          <a href="/about" class="link">
            <i class="icon icon-cup-fill">
            </i>
            <span class="menu-title">
              关于
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
