{{define "head"}}
<!-- prism.js -->
<link rel="stylesheet" href="/assets/theme/prism.css">
<script src="/assets/theme/prism.js"></script>
{{end}}

{{define "content"}}
  <div class="content">
    <div class="wrap">
      <div class="box">
        <header class="article-header">
          <h1 class="title">关于</h1>
          <p class="text-muted">
            喜欢新事物, 对新的技术有追求, 从web前端入行, 从事PHP多年再到Golang后端, 混迹10年有余, 目前还是半桶水.
          </p>
        </header>
        <div id="json-viewer">
            <pre><code id="json-block" class="language-json"></code></pre>
        </div>
        <script class="code-js">
          var about = {
            "name": "yanue",
            "gender": "男",
            "profession": "Gopher & Web Developer",
            "experience": "10年",
            "address": "广东省深圳市",
            "education": "本科",
            "github": "https://github.com/yanue",
            "blog": "https://yanue.net",
            "email": "yanue@outlook.com",
            "skills": [
              [
                "Golang",
                "PHP",
                "Python",
                "Swift"
              ],
              ["Mysql", "MongoDB", "Redis"],
              [
                "Javascript",
                "Nodejs",
                "Html5",
                "CSS3",
                "jQuery",
                "ES6",
                "Vue",
                "React"
              ],
              [
                "Git",
                "SVN"
              ]
            ],
            "devTools": [
              "Goland",
              "Webstorm",
              "Pycharm",
              "DataGrid",
              "Notepad++",
              "WSL"
            ]
          }
          // 把 JSON 转成字符串并写入 <code> 标签
          document.getElementById("json-block").textContent = JSON.stringify(about, null, 2);
          // 高亮代码
          Prism.highlightAll();
          // 添加 Prism.js 的行号和代码高亮
          document.querySelectorAll('pre code').forEach((block) => {
              block.classList.add('line-numbers');  // 添加行号支持
              Prism.highlightElement(block);  // 代码高亮
          });
        </script>
        <style>
          #json-viewer pre {
            color: #9F2328;
            background-color: #f6f8fa;
          }
          #json-viewer .token.property {
            color: #1F2368;
          }
        </style>
        <div class="comment">
            {{include "layouts/comment"}}
        </div>
      </div>
    </div>
  </div>
  <div class="aside">
      {{include "layouts/about"}}
  </div>
{{end}}

{{define "foot"}}

{{end}}

