<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="yanue"/>
  <meta name="copyright" content="yanue.net"/>
  <title>yanue-后台管理中心</title>
  <link rel="stylesheet" href="/assets/css/admin.css">
  <link rel="stylesheet" href="/assets/toastui/prism.css">
  <link href="/assets/toastui/toastui-editor.min.css" rel="stylesheet"/>
  <script src="/assets/toastui/toastui-editor-all.min.js"></script>
  <script src="/assets/toastui/prism.js"></script>
  <script src="/assets/toastui/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
</head>
<body>
{{$id := .id}}
{{$page := .page}}
{{$cid := .post.Cid}}
<main class="main">
  <div class="header">
    <img src="/assets/img/logo.png" class="logo">
    <span>后台管理中心</span>
    <span class="right">
      <a href="/admin?id=add">添加文章</a>
      |
      <a href="javascript:;" id="logout">退出登录</a>
    </span>
  </div>
  <section class="sidebar">
    <div class="title">
      <span class="left">文章列表</span>
      <div class="clear"></div>
    </div>
    <ul class="list">
        {{ range .list }}
          <li class="item">
            <div class="name">
                {{ if (eq .Id $id) }}
                  <span style="color: red">{{.Id}}-{{ .Title }}</span>
                {{ else }}
                  <a href="/admin?page={{$page}}&id={{.Id}}">{{.Id}}-{{ .Title }}</a>
                {{ end }}
            </div>
            <p class="tags">
                {{ if eq .Recommend 1 }}
                  <span class="recommend tag" title="已推荐">荐</span>
                {{ end }}
                {{ if eq .Published 1 }}
                  <span class="pub tag" title="已发布">已</span>
                {{ else }}
                  <span class="unpub tag" title="未发布">未</span>
                {{ end }}
            </p>
          </li>
        {{ end }}
    </ul>
    <div class="clear"></div>
    <div>
      <span>共 {{ .count }} 条, 每页 {{ .size }} 条, 当前 {{.page}}/{{ .totalPage }} 页</span>
    </div>
    <div class="page">
        {{range .pages}}
            {{ if .Current }}
              <span class="btn btn-small btn-danger">{{ .Page }}</span>
            {{ else }}
              <a class="btn btn-small btn-primary" href="{{.Link}}">{{ .Page }}</a>
            {{end}}
        {{ end }}
    </div>
  </section>
  <section class="content">
      {{ if .show_form }}
        <form class="form" id="postForm" method="post" action="javascript:;">
          <div class="right">
            <input type="submit" class="submit-btn btn btn-danger" value="保存文章" id="saveArticle">
            <a href="javascript:;" class="btn btn-del">删除文章</a>
          </div>
            {{ if gt .id 0 }}
              <div class="title">
                修改文章 <span>(<a href="/post/{{ .post.Id }}" target="_blank">查看</a>)</span>
              </div>
            {{ else }}
              <h2 class="title">
                添加文章
              </h2>
            {{ end }}

          <div class="fields">
            <div class="column">
              <div>
                <p>
                  <span class="label">标题</span>
                  <input type="text" name="title" id="title" class="txt" value="{{.post.Title}}" style="width: 500px;">
                  <span style="color: #f00;">*</span>
                </p>
                <p>
                  <span class="label">分类</span>
                  <select name="cid">
                      {{ range .cats }}
                        <option value="{{ .Id }}"
                                {{ if eq .Id $cid }} selected {{ end}}
                        >{{ .Name }}</option>
                      {{ end }}
                  </select>
                </p>
                <p>
                  <span class="label">是否推荐</span>
                  <label>
                    是 <input type="radio" name="recommend" value="1"
                              {{ if eq .post.Recommend 1 }} checked="checked" {{ end }}
                    >
                  </label>
                  <label>
                    否 <input type="radio" name="recommend" value="0"
                              {{ if eq .post.Recommend 0 }} checked="checked" {{ end }}
                    >
                  </label>
                </p>
              </div>
              <div>
                <p>
                  <span class="label">标签</span>
                  <input type="text" class="txt" value="{{.post.Tags}}" style="width: 500px;">
                </p>
                <p>
                  <span class="label">是否发布</span>
                  <label>
                    是
                    <input type="radio" name="published" value="1"
                            {{ if eq .post.Published 1 }} checked="checked" {{ end }}
                    >
                  </label>
                  <label>
                    否
                    <input type="radio" name="published" value="0"
                            {{ if eq .post.Published 0 }} checked="checked" {{ end }}
                    >
                  </label>
                </p>
              </div>
            </div>
          </div>
          <input type="hidden" name="id" value="{{$id}}">
          <div id="editor"></div>
          <script>
            function getCookie(cname) {
              var name = cname + "=";
              var ca = document.cookie.split(';');
              for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) === 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
            }

            function deleteCookies() {
              var allCookies = document.cookie.split(';');
              // The "expire" attribute of every cookie is
              // Set to "Thu, 01 Jan 1970 00:00:00 GMT"
              for (var i = 0; i < allCookies.length; i++)
                document.cookie = allCookies[i] + "=;expires="
            }

            window.onload = function () {
              const id = {{ $id }}
              const Editor = toastui.Editor;
              const {codeSyntaxHighlight} = Editor.plugin;
              const token = ""
              const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '760px',
                initialEditType: 'markdown',
                previewStyle: 'vertical',
                initialValue: '{{ .post.Content }}',
                plugins: [[codeSyntaxHighlight, {highlighter: Prism}]]
              });

              document.querySelector('#postForm').addEventListener('submit', (e) => {
                var data = Object.fromEntries(new FormData(e.target).entries());
                data['id'] = parseInt(data['id'])
                data['published'] = parseInt(data['published'])
                data['cid'] = parseInt(data['cid'])
                data['recommend'] = parseInt(data['recommend'])
                data['content'] = editor.getMarkdown();
                console.log(data);
                let ok = window.confirm("请确认需要保存吗?")
                if (!ok) {
                  return
                }
                let method = 'POST'
                let url = "/admin/create"
                if (id > 0) {
                  url = "/admin/" + id
                  method = "PUT"
                }
                fetch(url, {
                  method: method,
                  credentials: 'same-origin',
                  headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + getCookie('token')
                  },
                  cookie: document.cookie,
                  body: JSON.stringify(data),
                }).then(response => response.json()).then(resp => {
                  if (resp.code !== 0) {
                    alert(resp.msg)
                  }
                }).catch((err) => {
                  alert(err)
                }).finally(() => {
                  setTimeout(function () {
                    window.location.reload()
                  }, 500)
                })
              });

              document.querySelector('.btn-del').addEventListener('click', (e) => {
                let ok = window.confirm("请确认需要删除吗?")
                if (!ok) {
                  return
                }
                let data = {"id": parseInt(id)}
                fetch("/admin/" + id, {
                  method: 'DELETE',
                  credentials: 'same-origin',
                  headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + getCookie('token')
                  },
                  cookie: document.cookie,
                  body: JSON.stringify(data),
                }).then(response => response.json()).then(resp => {
                  if (resp.code !== 0) {
                    alert(resp.msg)
                  }
                }).catch((err) => {
                  alert(err)
                }).finally(() => {
                  setTimeout(function () {
                    window.location.reload()
                  }, 500)
                })
              });

              document.querySelector('#logout').addEventListener('click', (e) => {
                deleteCookies()
                setTimeout(function () {
                  window.location.reload()
                }, 1000)
              });
            }
          </script>
        </form>
      {{ else }}
          {{ .err }}
      {{ end }}
  </section>
</main>
</body>
</html>