{{define "head"}}
    <link rel="stylesheet" href="/assets/css/map.css">
    <script src="/assets/js/jquery.last.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=CG8eakl6UTlEb1OakeWYvofh"></script>
    <script type="text/javascript"
            src="https://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript"
            src="https://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
    <script type="text/javascript" src="/assets/js/map.gps.js"></script>
    <style>
        input.input {border: 1px solid #ccc;border-radius: 2px;color: #666666;font-size: 12px;padding: 5px;}
        input.input:focus {border: 1px solid #ccc;background: #f9f9f9;color: #333;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);}
        p span {color: #f00;}
        #status {display: none;}
        h3 {font-size: 12px;line-height: 24px;height: 24px;color: #333;border-bottom: 1px solid #f0f0f0;margin: 3px 0;}
        #hm_t_30690 {display: none;}
        #baiduMaps, #googleMaps {border: 1px solid #e0e0e0;background: url("https://map.yanue.net/images/load_s.gif") no-repeat scroll center center transparent;}
        #baiduMaps {margin: 0 0 0 10px;}
    </style>
{{end}}
{{define "content"}}
    <section class="left-section">
        <div class="breadcrumbs">
            <label>你的位置：</label>
            <a href="https://yanue.net">首页</a>
            >
            <a href="https://map.yanue.net/">地图作品</a>
        </div>
        <article class="post-detail">
            <header class="post-info">
                <h1 class='post-title'>{{ .title }}</h1>
            </header>
            <main class="post-content">
                <div id="map-wrap">
                    <div class="toplink">
                        <label>地图工具</label>
                        <a href="/toLatLng/">地名查询经纬度</a> |
                        <a href="/">批量地名经纬度查询</a> |
                        <a href="/gps.html">GPS转换谷歌百度经纬度</a>
                    </div>
                    <div class="wrap" id="inputWrap">
                        <div id="left">
                            <h2 class="sub-title">
                                输入GPS模块转换后经纬度
                                <span class="right"><button id='getLatLng' class="button">查询</button></span>
                            </h2>
                            <div>
                                <p style="height: 30px;">
                                    <label>纬度[lat]:</label>
                                    <input type="text" id="txtGPSLat" value="22.502412986242" class='input'/>
                                </p>
                                <p style="height: 30px;">
                                    <label>经度[lng]:</label>
                                    <input type="text" id="txtGPSLng" value="113.93832783228" class='input'/>
                                </p>
                            </div>
                            <h2 class="sub-title">
                                相关链接
                            </h2>
                            <div>
                                <p>
                                    <a href="https://yanue.net/post-42.html">gps坐标转换经纬度及换算方法</a>
                                </p>
                                <p>
                                    <a href="https://yanue.net/post-121.html" style="color:#f00;">gps纠偏及大陆地图偏移原因</a>
                                </p>
                                <p>
                                    <a href="https://yanue.net/post-122.html"
                                       style="color:#60f;">gps纠偏数据库及gps纠偏算法PHP</a>
                                </p>
                            </div>
                        </div>
                        <div id="right">
                            <h2 class="sub-title">
                                解析结果 <span id="status">解析中...</span>
                            </h2>

                            <h3>Google Map</h3>

                            <p><label>纬度[lat]:</label> <span id="spanGoogleLat" class="red"></span></p>

                            <p><label>经度[lng]:</label> <span id="spanGoogleLng" class="red"></span></p>

                            <h3>Baidu Map</h3>

                            <p><label>纬度[lat]:</label> <span id="spanBaiduLat" class="red"></span></p>

                            <p><label>经度[lng]:</label> <span id="spanBaiduLng" class="red"></span></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </main>
            <div class="comment">
                <p class="comment-head">留言</p>
                <div class="comment-content">
                    {{include "layouts/comment"}}
                </div>
            </div>
        </article>
    </section>
{{end}}

{{define "foot"}}
{{end}}
