{{define "head"}}

{{end}}


{{define "content"}}
  <div class="content">
    <div class="wrap">
      <div class="box">
        <header class="article-header">
          <div class="title">
            <span>文章列表</span>
            <form method="get" class="search">
              <label>
                <input type="text" name="key" value="{{.search_key}}" class="search-input">
              </label>
              <input type="submit" value="搜索" class="search-btn">
            </form>
          </div>
          <div class="pagination">
            <span class="right">
              {{range .pages}}
                  {{ if .Current }}
                    <a class="page-item current">{{ .Page }}</a>
                  {{ else }}
                    <a class="page-item" href="{{.Link}}">{{ .Page }}</a>
                  {{end}}
              {{ end }}
            </span>
            <span class="left ">共 {{ .count }} 条, 每页 {{ .size }} 条, 当前 {{.page}}/{{ .totalPage }} 页</span>
          </div>
          <div class="clear" style="margin-bottom: -20px;"></div>
        </header>
        <div class="list">
          <ul>
              {{ range .list}}
                <li class="item">
                  <h2 class="title">
                    <a href="/post-{{ .Id }}.html">{{.Title}}</a>
                  </h2>
                  <div class="meta">
                    <p class="meta-date">
                      日期
                      <i class="icon icon-calendar-check"></i>
                        {{ .Time }}
                    </p>
                    <p class="meta-cat">
                      分类
                      <i class="icon icon-folder"></i>
                      <a href="/categories/{{ .Cat }}">{{.Cat}}</a>
                    </p>
                    <p class="meta-tag">
                      标签
                      <i class="icon icon-tags"></i>
                        {{ range .Tags }}
                          <span class="tag">
                            <a href="/tags/{{ . }}">{{ . }}</a>
                          </span>
                        {{ end }}
                    </p>
                    <p class="meta-view">
                      <i class="icon icon-view"></i>
                      <span>浏览 {{ .Views }}</span>
                    </p>
                    <p class="meta-word">
                      字数统计: {{ .Word }}(字)
                    </p>
                  </div>
                </li>
              {{ end }}
          </ul>
        </div>
        <div class="fill-foot"></div>
      </div>
    </div>
  </div>
  <div class="aside">
      {{include "layouts/aside"}}
  </div>
{{end}}

{{define "foot"}}

{{end}}
