{{define "head"}}
  <link rel="stylesheet" href="/assets/toastui/prism.css">
  <link rel="stylesheet" href="/assets/css/markdown.css">
  <script src="/assets/toastui/prism.js"></script>
{{end}}


{{define "content"}}
  <div class="content">
    <div class="wrap">
      <div class="box">
          {{ $isLogin:=.isLogin }}
        <div class="article-header">
          <h2 class="title">{{ .post.Title }}</h2>
          <div class="meta">
            <p class="meta-date">
              日期
              <i class="icon icon-calendar-check"></i>
                {{ .post.Time }}
            </p>
            <p class="meta-cat">
              分类
              <i class="icon icon-folder"></i>
              <a href="/categories/{{ .post.Cat }}">{{.post.Cat}}</a>
            </p>
            <p class="meta-tag">
              标签
              <i class="icon icon-tags"></i>
                {{ range .post.Tags }}
                  <span class="tag">
                            <a href="/tag/{{ . }}">{{ . }}</a>
                          </span>
                {{ end }}
            </p>
            <p class="meta-view">
              <i class="icon icon-view"></i>
              <span>浏览 {{ .post.Views }}</span>
            </p>
            <p class="meta-word">
              字数统计: {{ .post.Word }}(字)
            </p>
              {{ if $isLogin }}
                <p>
                  <a href="/admin?id={{.post.Id}}" class="red" target="_blank">编辑</a>
                </p>
              {{ end }}
          </div>
        </div>
        <div class="markdown-body">
            {{ .post.Content | unescape }}
        </div>
        <div class="clear"></div>
        <div class="footer">
          <div class="prev">
              {{ if gt .prevId 0 }}
                <a href="/post-{{ .prevId }}.html">
                  < 上一篇 {{ .prevTitle }}
                </a>
              {{ else }}
                <span>
              < 上一篇 没有了
            </span>
              {{ end }}
          </div>
          <div class="next">
              {{ if gt .nextId 0 }}
                <a href="/post-{{ .nextId }}.html">
                  下一篇 {{ .nextTitle }} >
                </a>
              {{ else }}
                <span>
               下一篇 没有了 >
            </span>
              {{ end }}
          </div>
        </div>
        <div class="comment">
            {{include "layouts/comment"}}
        </div>
      </div>
    </div>
  </div>
  <div class="aside">
      {{include "layouts/aside"}}
  </div>
{{end}}


{{define "foot"}}
{{end}}