/* reset css start*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
nav, ul {list-style: none;outline: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: none;}
a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ins {background-color: #ff9;color: #000;text-decoration: none;}
mark {background-color: #ff9;padding: 0 4px;color: #666;font-size: 14px;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted;cursor: help;}
table {border-collapse: collapse;border-spacing: 0;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #cccccc;margin: 1em 0;padding: 0;}
input, select {vertical-align: middle;outline: none;}
/* reset css end*/
body {font-size: 12px;color: #444;position: relative;font-family: PingHei, "PingFang SC", "Helvetica Neue", "Work Sans", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif}
a {color: #333;text-decoration: none;transition: all .2s ease-in-out;}
a:hover {color: #266eb6;}
textarea {outline: none}
.left {float: left;}
.right {float: right;}
.btn {display: inline-block;*display: inline;*zoom: 1;padding: 6px 12px 4px;margin-bottom: 0;font-size: 12px;line-height: 20px;text-align: center;vertical-align: middle;cursor: pointer;border: 0;border-radius: 0;}
.btn-primary {color: #ffffff;background-color: #428bca}
.btn-danger {color: #ffffff;background-color: #d9534f}
.btn:hover, .btn:focus {text-decoration: none}
.btn:focus {outline: thin dotted #333;outline-offset: -2px}
.btn-block {display: block;width: 100%;padding-left: 0;padding-right: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
.btn-block + .btn-block {margin-top: 5px}
.icon {width: 1em;height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
.box {width: 1136px;margin: 0 auto 0 auto;padding-bottom: 20px;}
.clear {clear: both;}
::-webkit-scrollbar {width: 0;height: 0;background: 0 0}
::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 1)}
.gray {color: gray;}
.red {color: red;}
.blue {color: #06f;}
.main {width: 100%;height: 100%;}
.wrap {width: 100%;height: 100%;overflow-y: auto;position: relative;}
.sidebar {width: 240px;background: #FBFBFB;position: fixed;left: 0;top: 0; bottom: 0;border-right: 1px solid #eee;}
.sidebar .navbar-header { text-align: center; margin-top: 20px; line-height: 100%;}
.sidebar .navbar-header img.img-avatar {height: 80px;width: 80px;display: block;margin: 0 auto;}
.sidebar .navbar-header .name {font-size: 16px;color: #8254ff;text-shadow: 1px 2px 3px rgba(121, 7, 7, 0.1);margin-top: 10px;border-bottom: 1px solid #e6e6e6;padding-bottom: 20px;}
.sidebar .navbar-header .title {font-size: 14px;color: #333;text-shadow: 1px 2px 3px rgba(121, 7, 7, 0.1);margin-top: 20px;}
.sidebar .navbar-header .location {font-size: 12px;color: #999;text-shadow: 1px 2px 3px rgba(121, 7, 7, 0.1);margin-top: 10px;border-bottom: 1px solid #e6e6e6;padding-bottom: 20px;}
.sidebar .navbar-header .map-link {font-size: 14px;color: #333;margin-top: 20px;border-bottom: 1px solid #e6e6e6;padding-bottom: 20px;}
.sidebar .navbar-header .map-link:hover a { transition: all 0.3s ease-in-out;color: #8254ff;}
.sidebar .menu {padding: 20px 0;}
.sidebar .menu .menu-item {font-size: 15px;padding: 0 0 0 30px;line-height: 40px;}
.sidebar .menu .menu-item:hover {background: #fff;cursor: pointer;}
.sidebar .menu .menu-item a {color: #000;}
.sidebar .menu .menu-item:hover a { transition: all 0.3s ease-in-out;color: #8254ff;}
.content {position: fixed;left: 241px;right: 300px;top: 0;bottom: 0;}
.content .wrap .head {border-bottom: 1px solid #e0e0e0;font-size: 16px;height: 50px;line-height: 50px;}
.content .wrap .item {border-bottom: 1px solid #eee;}
.content .wrap .item .title {font-size: 18px;font-weight: normal;color: #000;padding: 30px 0 12px 0;}
.content .wrap .item .meta {font-size: 12px;color: #999;padding: 0 0 15px 0;}
.content .wrap .item .meta p {display: inline-block;margin-right: 15px;}
.content .wrap .md-viewer {padding: 10px 0 0 0;font-size: 14px;}
.content .wrap .fill-foot {height: 50px;}
.content .wrap .footer {position: fixed;bottom: 0;left: 241px;right: 252px;border-top: 1px solid #eee;background: #FBFBFB;height: 50px;line-height: 50px;padding: 0 20px;color: #999;}
.content .wrap .footer a {font-size: 14px;}
.content .wrap .footer .prev { width: 40%;float: left;overflow: hidden;}
.content .wrap .footer .next { width: 40%;float: right;overflow: hidden;text-align: right;}
.content .wrap .more {line-height: 40px;font-size: 16px;background: #f6f6f6;border: 1px solid #f0f0f0;text-align: center;margin-top: 20px;}
.content .wrap .article-header {margin-top: 30px;margin-bottom: 20px;font-size: 14px;color: #666;}
.content .wrap .article-header .title { font-weight: 500;font-size: 30px;line-height: 50px;color: #000;margin-bottom: 10px;}
.aside {position: fixed;width: 298px;background: #FBFBFB;right: 0;top: 0;bottom: 0;border-left: 1px solid #eee;}
.widget {margin: 20px 0;line-height: 180%;font-size: 14px;padding: 0 20px;}
.widget .widget-title {font-size: 18px;color: #000;font-weight: 500;margin-bottom: 10px;}
.widget .label {font-weight: 400;background-color: #e0e0e0;border-radius: 5px;display: inline-block;padding: 0 6px;color: #666;font-size: 12px;}
.widget .list-square li:before {color: #ccc;content: "▪";font-size: 12px;margin-right: 6px;transition: .2s ease;}