.main {
    margin: 12px 0;
}

.content {
    margin: 12px 0;
}

.content .list {
    background: #fff;
}

.txt {
    border: 1px solid #e0e0e0;
    line-height: 18px;
    color: #666;
    padding: 5px 5px;
    background: #fefefe;
    width: 290px;
    margin: 8px;
    outline: none;
}

textarea.txt {
    height: 200px;
 }

.button {
    color: #444;
    padding: 5px 8px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5px;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
    box-shadow: 0 0 5px rgba(120, 120, 120, .1), inset 0 0 2px #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    /*鼠标经过背景渐变过程*/
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button:focus, .button:hover {
    background-color: #fff;
    background-image: -moz-linear-gradient(center top, #fcfcfc, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333333;
}

.btn-gray:hover {
    border: 1px solid #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #000;
}

.txt:hover, .txt:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background: #f9f9f9;
    color: #333;
}

.content .recommend {
    overflow: hidden;
}

.content .recommend .list {
    margin-right: -2px;
    width: 830px;
    height: 92px;
    overflow: hidden;
}

.content .recommend .item .bxslider {
}

.content .recommend .item {
    width: 382px;
    float: left;
    padding: 16px;
    overflow: hidden;
    border-right: 1px solid #EAEAEA;
}

.content .recommend .item:hover {
    background: #fdfdfd;
    cursor: pointer;
}

.content .recommend .item dt {
    float: left;
    height: 60px;
    width: 90px;
    overflow: hidden;
}

.content .recommend .item dt img {
    width: 90px;
    height: 60px;
}

.content .recommend .item dd {
    float: left;
    width: 284px;
    margin: 0 0 0 8px;
}

.content .recommend .item dd .name {
    font-family: "Microsoft JhengHei";
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 15px;
    font-weight: normal;
    margin: -2px 0 6px;
}

.content .recommend .item dd .detail {
    color: #999;
    height: 34px;
    overflow: hidden;
    line-height: 150%;
}

.content .left-section {
    width: 828px;
    float: left;
}

.content .sidebar {
    float: right;
    width: 360px;
}

.sidebar .widget {
    margin: 0 0 12px;
    background: #fff;
    line-height: 150%;
}

.sidebar .widget .list {
    padding: 12px;
    font-size: 12px;
}

.suggest {
    display: block;
    padding: 0 15px 15px;
    border: 1px solid #4CAE4C;
    font-family: "Microsoft JhengHei";
}

.suggest h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
    margin: 4px 0;
    color: #4CAE4C;
}

.suggest h2 a {
    color: #4CAE4C;
}

.suggest p {
    color: #999;
    margin-bottom: 0;
    font-family: "MICROSOFT YAHEI";
}

.suggest strong {
    margin: -1px 0 0 -16px;
    display: inline-block;
    padding: 3px 15px 4px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: "MICROSOFT YAHEI";
    background: #5CB85C;
}

.suggest:hover {
    border-color: #5CB85C;
    color: #4CAE4C;
}

.suggest:hover strong {
    background-color: #4CAE4C;
}

.sidebar .ranking .tab-switch {
    background: #FAFAFA;
    line-height: 36px;
    height: 36px;
}

.sidebar .ranking .tab-switch a {
    font-size: 14px;
    font-weight: normal;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    padding: 0 8px;
    margin: 0;
    color: #333;
}

.sidebar .ranking .tab-switch a.current, .ranking .tab-switch a:hover {
    background: #fff;
    color: #4CAE4C;
}

.sidebar .tab-post-list {
    font-family: "Microsoft JhengHei";
}

.sidebar .tab-post-list li {
    line-height: 32px;
    height: 32px;
    border-bottom: 1px dotted #e0e0e0;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 13px;
}

.sidebar .tab-post-list li .icon {
    font-size: 12px;
    color: #29B4F0;
    margin: 0 2px 0 0;
}

.sidebar .tab-post-list li .count {
    font-size: 10px;
    color: #666;
    margin: 0 2px 0 8px;
    float: right;
}

.page-title {
    background: #fdfdfd;
    line-height: 50px;
    font-size: 18px;
    font-weight: normal;
    padding: 0 20px;
    color: #4CAE4C;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
}

.page-title .sub {
    color: #666;
    font-size: 14px;
}

.page-title .icon {
    width: 50px;
    height: 50px;
    display: block;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: -26px;
    border-radius: 25px;
    color: #4CAE4C;
    box-shadow: 0 0 3px #e0e0e0;
    background: #fff;
}

.breadcrumbs {
    font-family: "Microsoft JhengHei";
    margin: 0 0 1px;
    padding: 9px 20px 7px;
    line-height: 20px;
    background-color: #f6f6f6;
}

.breadcrumbs .icon {
    color: #4CAE4C;
}

.panel {
    width: 320px;
    background: #fff;
    float: left;
    margin: 8px 0 0 0;
    z-index: 1
}

.panel .input-area {
    padding: 0 0 10px 0;
}

.panel .action {
    padding: 0 8px;
}

.res-title {
    border: 1px solid #f0f0f6;
    border-left: none;
    border-right: none;
    line-height: 36px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'microsoft yahei';
    background: #FCF9F6;
}

.tip-title {
    border: 1px solid #f0f0f6;
    border-right: none;
    border-left: none;
    line-height: 36px;
    color: #666;
    padding: 0 0 0 10px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'microsoft yahei';
    background: #fcfcf9;
}

.tip-title .icon {
    color: #4CAE4C;
}

.resArea {
    width: 870px;
    height: 100%;
    float: left;
    margin: 8px 0 0 8px;
    border: 1px solid #f0f0f6;
    background: #FCFcF9;
    position: relative;
}

.resArea #result {
    height: 360px;
    padding: 8px;
    list-style-type: decimal;
    list-style-position: inside;
    overflow-y: auto;
}

.detail {
    line-height: 160%;
    background: #fff;
    height: 157px;
    overflow: hidden;
}

.detail .left {
    float: left;
    border-right: 1px solid #f0f0f6;
    width: 50%;
    height: 157px;
}

.detail ol {
    padding: 5px;
}

.detail .title {
    border-bottom: 1px solid #f0f0f6;
    line-height: 20px;
    padding: 4px;
    font-size: 13px;
}

.detail .right .tlink {
    font-size: 14px;
    line-height: 160%;
}

.detail .right .tlink:nth-child(10n+1) {
    border-bottom-color: #00A8E4;
    color: #00A8E4;
}

.detail .right .tlink:nth-child(10n+1) a {
    border-bottom-color: #00A8E4;
    color: #00A8E4;
}

.detail .right .tlink:nth-child(10n+2) {
    border-bottom-color: #ff8a65;
    color: #ff8a65;
}

.detail .right .tlink:nth-child(10n+2) a {
    border-bottom-color: #ff8a65;
    color: #ff8a65;
}

.detail .right .tlink:nth-child(10n+3) {
    border-bottom-color: #32d531;
    color: #32d531;
}

.detail .right .tlink:nth-child(10n+3) a {
    border-bottom-color: #32d531;
    color: #32d531;
}

.detail .right .tlink:nth-child(10n+4) {
    border-bottom-color: #8187ff;
    color: #8187ff;
}

.detail .right .tlink:nth-child(10n+4) a {
    border-bottom-color: #8187ff;
    color: #8187ff;
}

.detail .right .tlink:nth-child(10n+5) {
    border-bottom-color: #ff8b58;
    color: #ff8b58;
}

.detail .right .tlink:nth-child(10n+5) a {
    border-bottom-color: #ff8b58;
    color: #ff8b58;
}

.detail .right .tlink:nth-child(10n+6) {
    border-bottom-color: #00A8E4;
    color: #00A8E4;
}

.detail .right .tlink:nth-child(10n+6) a {
    border-bottom-color: #00A8E4;
    color: #00A8E4;
}

.detail .right .tlink:nth-child(10n+7) {
    border-bottom-color: #bfa5ff;
    color: #bfa5ff;
}

.detail .right .tlink:nth-child(10n+7) a {
    border-bottom-color: #bfa5ff;
    color: #bfa5ff;
}

.detail .right .tlink:nth-child(10n+8) {
    border-bottom-color: #ffc27f;
    color: #ffc27f;
}

.detail .right .tlink:nth-child(10n+8) a {
    border-bottom-color: #ffc27f;
    color: #ffc27f;
}

.detail .right .tlink:nth-child(10n+9) {
    border-bottom-color: #be79ff;
    color: #be79ff;
}

.detail .right .tlink:nth-child(10n+9) a {
    border-bottom-color: #be79ff;
    color: #be79ff;
}

.detail .right .tlink:nth-child(10n+10) {
    border-bottom-color: #ff6bb5;
    color: #ff6bb5;
}

.detail .right .tlink:nth-child(10n+10) a {
    border-bottom-color: #ff6bb5;
    color: #ff6bb5;
}

.ad {
    position: absolute;
    right: -108px;
    top: 0;
    background: #fff;
    width: 100px;
    padding: 4px;
    border-left: 1px solid #ececf0;
}

.ad img {
    width: 100px;
    opacity: 0.8;
}