/* reset css start*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,main,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav,ul{list-style:none;list-style-type: none;outline: none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#333;padding: 0 4px;color: #666;font-size: 14px;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;outline: none;}
/* reset css end*//* add fonts 'Titillium Web' end 'FontAwesome'*/@font-face{font-family: 'Titillium Web';font-style: normal;font-weight: 400;src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/TitilliumWeb-Regular.woff) format('woff');}
@font-face{font-family: 'FontAwesome';font-style: normal;font-weight: 400;src: local('FontAwesome'), local('fontawesome-webfont'), url(../fonts/fontawesome-webfont.woff) format('woff');}
/* fonts end*//* common*/body{background: url("../images/bg.gif");font-size: 12px;font-family: "Trebuchet MS","Titillium Web", "FontAwesome", Helvetica, Tahoma, Arial, "Microsoft YaHei", "Microsoft JhengHei" ;color: #444;position: relative;}
a{color: #555;text-decoration: none;transition: all .2s ease-in-out;}
.icon.icon-bar-chart{font-size: 13px;}
a:hover{color: #0066ff;}
.red{color: #f00;}
.darkorange{color: darkorange;}
.f60{color: #f60;}
.f60:hover{color: #f00;}
.wrap{width: 1200px;margin: 0 auto;}
.white{background: #fff;}
.normal{font-size: 12px;color: #666;font-weight: normal;}
.right{float: right;}
.clear{clear: both;}
.txt{border: 1px solid #ccc;line-height: 18px;color: #666;padding: 3px 5px;width: 172px;}
.txt:hover, .txt:focus{box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);border: 1px solid #999;background: #f9f9f9;color: #333;}
.muted{color: #999;}
.circle{border-radius: 12px;font-style: normal;font-size: 12px;background: #4CAE4C;color: #fff;display: inline-block;width: 24px;height: 24px;line-height: 24px;text-align: center;transition: all .2s ease-in-out;}
.circle:hover{background: #5CB85C;}
.highlight{color: #ff0000;font-weight: bold;font-style: normal;}
/* header*/.header{background: #FAFAFA;border-bottom: 1px solid #EAEAEA;}
.header .top{line-height: 30px;height: 30px;background: #4A4A4A;color: #eee;}
.header .top a{color: #ddd;}
.header .top a:hover{color: #4CAE4C;}
.header .top .top-nav .arrow{display: inline-block;transition: .3s ease-in;font-weight: 400;}
.header .top .top-nav{font-weight: normal;}
.header .top .top-nav li{float: left;position: relative;}
.header .top .top-nav li:hover{background: #404040;}
.header .top .top-nav li:hover .arrow{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.header .top .top-nav li a{padding: 0 12px;display: block;}
.header .top .top-nav li .sub-nav{position: absolute;background: #404040;width: 120px;display: none; z-index: 2;}
.header .top .right a{display: inline-block;padding: 0 5px;}
.header .nav{height: 54px;padding: 12px 0;}
.header .nav .site{float: left;width: 360px;height: 36px;color: #888;margin: 8px 0 0 0;overflow: hidden;}
.header .nav .site .logo{display: block;float: left;margin: 0 8px 0 0;}
.header .nav .site .sub-site{float: left;padding: 0 0 0 8px;height: 36px;width: 200px;overflow: hidden;border-left: 2px solid #e0e0e0;}
.header .nav .site .site-name{font-size: 14pt;color: #4CAE4C;margin: 0 0 5px;display: block;font-weight: normal;}
.header .nav .menu{float: left;}
.header .nav .menu .main-cat{width: 500px; font-size: 14px; border-bottom: 2px solid #4CAE4C;}
.header .nav .menu .main-cat .showSub .arrow{position: absolute; border-style: solid; border-width: .3em; border-top-color: transparent; border-right-color: transparent; border-left-color: transparent; bottom: 0; display: none; left: 50%; margin-left: -.3em;}
.header .nav .menu .main-cat .showSub{position: relative; display: block; padding: 0 6px; width: 50px; margin: 0 0 -2px; float: left; height: 24px; text-align: center; border-bottom: 2px solid #f00;}
.header .nav .menu .main-cat .showSub{}
.header .nav .menu .main-cat .showSub:nth-child(10n+1){border-bottom-color: #00A8E4; color: #00A8E4;}
.header .nav .menu .main-cat .showSub:nth-child(10n+2){border-bottom-color: #ff8a65; color: #ff8a65;}
.header .nav .menu .main-cat .showSub:nth-child(10n+3){border-bottom-color: #32d531; color: #32d531;}
.header .nav .menu .main-cat .showSub:nth-child(10n+4){border-bottom-color: #8187ff; color: #8187ff;}
.header .nav .menu .main-cat .showSub:nth-child(10n+5){border-bottom-color: #ff8b58; color: #ff8b58;}
.header .nav .menu .main-cat .showSub:nth-child(10n+6){border-bottom-color: #00A8E4; color: #00A8E4;}
.header .nav .menu .main-cat .showSub:nth-child(10n+7){border-bottom-color: #bfa5ff; color: #bfa5ff;}
.header .nav .menu .main-cat .showSub:nth-child(10n+8){border-bottom-color: #ffc27f; color: #ffc27f;}
.header .nav .menu .main-cat .showSub:nth-child(10n+9){border-bottom-color: #be79ff; color: #be79ff;}
.header .nav .menu .main-cat .showSub:nth-child(10n+10){border-bottom-color: #ff6bb5; color: #ff6bb5;}
.header .nav .menu .sub-cat{padding: 4px 0 0 0; color: #666;}
.header .nav .menu .sub-cat .cat-group{display: none;}
.header .nav .menu p{line-height: 24px;}
.header .nav .menu p b *{color: #333;font-size: 14px;font-weight: normal;}
.header .nav .menu p a{padding: 0 4px;}
.header .nav .search-form{margin: 12px 0;}
.search-form .search-input{height: 22px;margin: 0;width: 200px;display: inline-block;}
.search-form .search-input:hover,.header .nav .search-form .search-input:focus{border-color: #5cb85c;background: #fcfcfc;}
.header .nav .search-form .search-btn{margin: 0 0 0 1px;display: inline-block;}
.footer{line-height: 36px;border-top: 1px solid #E9E9E9;}
.footer .links{color: #888;background: #f6f6f6;line-height: 50px;}
.footer .links a{margin: 0 8px;}
.footer .copy{border-top: 1px solid #eee;padding: 12px 0 20px;background: #fcfcfc;}
.footer .copy p{width: 50%;color: #666;float: left;line-height: 160%;}
h2.title{line-height: 36px;background: #f9f9f9;padding: 0 8px;font-weight: normal;}
h2.title .name{font-weight: normal;font-size: 14px;}
h2.title .more{float: right;}
/* btn*/.btn{display: inline-block;*display: inline;*zoom: 1;padding: 6px 12px 4px;margin-bottom: 0;font-size: 12px;line-height: 20px;text-align: center;vertical-align: middle;cursor: pointer;border: 0;border-radius: 0;}
.btn[type="submit"]{height: 30px;}
.btn:hover, .btn:focus{text-decoration: none}
.btn:focus{outline: thin dotted #333;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px}
.btn.active, .btn:active{outline: 0}
.btn.disabled, .btn[disabled]{cursor: default;opacity: 0.65;filter: alpha(opacity=65)}
.btn-large{padding: 11px 19px;font-size: 15px}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"]{margin-top: 4px}
.btn-mini{padding: 2px 10px;font-size: 12px}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"]{margin-top: 4px}
.btn-block{display: block;width: 100%;padding-left: 0;padding-right: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
.btn-block + .btn-block{margin-top: 5px}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block{width: 100%}
.btn{color: #666;background-color: #eeeeee}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled]{background-color: #dddddd;color: #444;}
.btn-primary{color: #ffffff;background-color: #428bca}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{color: #ffffff;background-color: #357EBD}
.btn-warning{color: #ffffff;background-color: #f8a31f}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled]{color: #ffffff;background-color: #f88a2a}
.btn-danger{color: #ffffff;background-color: #d9534f}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled]{color: #ffffff;background-color: #e51400}
.btn-success{color: #ffffff;background-color: #5cb85c}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled]{color: #ffffff;background-color: #4CAE4C}
.btn-info{color: #ffffff;background-color: #00aba9}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled]{color: #ffffff;background-color: #007877}
.btn-inverse{color: #ffffff;background-color: #484848}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled]{color: #ffffff;background-color: #333333}
.clear:after{/* 给浮动元素的父级元素加上class='clearfix'*/content: "";display: block;height: 0;clear: both;}
.clear{clear: both;zoom: 1;/* 在IE6/7中,利用zoom:1触发haslayout属性*/}
/* prettyprint */
.com{color: #93a1a1;}
.lit{color: #195f91;}
.pun, .opn, .clo{color: #93a1a1;}
.fun{color: #dc322f;}
.str, .atv{color: #D14;}
.kwd, .prettyprint .tag{color: #1e347b;}
.typ, .atn, .dec, .var{color: teal;}
.pln{color: #48484c;}
.prettyprint{padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8;font-size: 9pt;line-height: 120%;}
.prettyprint.linenums{-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums{margin: 0 0 0 33px; /* IE indents via margin-left */ padding:0;}
ol.linenums li{padding-left: 12px; color: #bebec5; line-height: 20px; text-shadow: 0 1px 0 #fff;}
a.edit{font-size: 14px; color: #4CAE4C;}
a.edit:hover{color: #f60;}
ol{list-style-position: inside;}